# PostgreSQL
POSTGRES_USER=medtech
POSTGRES_PASSWORD=medtech
POSTGRES_DB=medtech
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# App
PROJECT_NAME=MedServicePrice.kz
API_V1_PREFIX=/api/v1
BACKEND_CORS_ORIGINS=http://localhost:5173
